<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tech Tree</title>
    <link rel='stylesheet' href='tech-tree.css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src='tech-tree.js' charset='UTF-8'></script>
  </head>
  <body>
    {% for row in tech_rows %}
    {% for subrow in row | batch(8) %}
    <div class='tech-row'>
      {% for tech in subrow %}
      <div class='tech' id='tech_{{ tech.name }}' data-name='{{ tech.name }}' data-prerequisites='{{ tech.prerequisite_names | join(',') }}'>
        <div class='tooltip'>
          <div class='title'>
            {{ tech.localized_title }}
          </div>
          <div class='description'>
            {{ tech.description }}
          </div>
          {% for ingredient in tech.ingredients %}
          <div class='ingredient'>
            <img class='item-pic' src='item_{{ ingredient.name }}.png'>
            {{ ingredient.amount }} x {{ ingredient.localized_title }}
          </div>
          {% endfor %}
          <div class='time'>
            <img class='item-pic' src='clock-icon.png'>
            {{ tech.time }} s research time
          </div>
        </div>
        <img class='tech-pic' src='tech_{{ tech.name }}.png'>
        <div class='items'>
          {% for recipe_row in tech.recipes | batch(4) %}
          {% for recipe in recipe_row %}
          <div class='item'>
            <div class='tooltip'>
              <div class='title'>
                {{ recipe.localized_title }} (Recipe)
              </div>
              <div class='description'>
                {{ recipe.description }}
              </div>
              {% for ingredient in recipe.ingredients %}
              <div class='ingredient'>
                <img class='item-pic' src='item_{{ ingredient.name }}.png'>
                {{ ingredient.amount }} x {{ ingredient.localized_title }}
              </div>
              {% endfor %}
              <div class='time'>
                <img class='item-pic' src='clock-icon.png'>
                {{ recipe.time }} s crafting time
              </div>
              <div class='produces'>
                Produces:
              </div>
              {% for product in recipe.products %}
              <div class='product'>
                <img class='item-pic' src='item_{{ product.name }}.png'>
                {{ product.amount }} x {{ product.localized_title }}
              </div>
              {% endfor %}
            </div>
            <a href='recipe_{{ recipe.name }}.html'>
              <img
                  class='item-pic'
                  id='recipe_{{ recipe.name }}'
                  src='recipe_{{ recipe.name }}.png'>
            </a>
          </div>
          {% endfor %}
          <br />
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
  </body>
</html>
