{% extends 'base.html' %}
{% block title %}All items{% endblock %}
{% block header %}
  {% for group, _ in grouped_items %}
      <div class="group-container" onclick="
      $('.dialog-content .group').hide();
      $('#{{ group.name }}').show();
      window.location.hash = '{{ group.name }}';
">
  <h2 class='group'>
    <img src='group_{{ group.name }}.png'>
    <span>{{ group.localized_title }}</span>
  </h2>
      </div>
{% endfor %}
{% endblock %}
{% block content %}
<script>
$(function(){
    if (window.location.hash === '') {
        window.location.hash = '{{ grouped_items[0][0].name }}';
        $('#{{ grouped_items[0][0].name }}').show();
    } else {
        $(window.location.hash).show();
    }
});
</script>
  {% for group, subgroups in grouped_items %}
        <div class="group" id="{{ group.name }}" style="display: none">
{% for subgroup, items in subgroups %}
  {% for item in items %}
    <a href='item_{{ item.name }}.html'>
      <img class='icon' src='item_{{ item.name }}.png' title="{{ item.localized_title }}">
    </a>
  {% endfor %}
  <br />
  {% endfor %}
        </div>
  {% endfor %}
{% endblock %}
