{% extends 'base.html' %}
{% macro render_item_with_count(item_with_count) %}
<div style="position: relative;">
    <span class="quantity">{{ item_with_count.amount }}x</span>
    <a class='item' href="item_{{ item_with_count.name }}.html">
        <img src='item_{{ item_with_count.name }}.png' class="icon" title="{{ item_with_count.localized_title }}">
    </a>
</div>
{% endmacro %}
{% macro render_recipe(recipe) %}
<div class="recipe-container">
    <div></div>
    <div class="recipe">
        {% for ingredient in recipe.ingredients %}
        {{ render_item_with_count(ingredient) }}
        {% endfor %}
        <img src="../../templates/chevron.svg" class="chevron">
        {% for product in recipe.products %}
        {{ render_item_with_count(product) }}
        {% endfor %}
    </div>
    <a class="more-info" href="recipe_{{ recipe.name }}.html">
        <img src="../../templates/double-chevron.svg" class="double-chevron">
    </a>
</div>
{% endmacro %}

{% block title %}Item: {{ item.localized_title }}{% endblock %}
{% block header %}
<img src='item_{{ item.name }}.png'>
<div class="description">
    {{ item.description | bbcode }}
</div>
{% endblock %}
{% block content %}
<h2>Produced in</h2>
<div class="recipe-list">
    {% for recipe in item.produced_in %}
    {{ render_recipe(recipe) }}
    {% endfor %}
</div>
<h2>Used in</h2>
<div class="recipe-list">
    {% for recipe in item.used_in %}
    {{ render_recipe(recipe) }}
    {% endfor %}
</div>
{% endblock %}
