{% extends 'base.html' %}
{% macro render_item_with_count(item_with_count) %}
<a class='item' href="item_{{ item_with_count.name }}.html">
    <tr>
        <td style="text-align: right">{{ item_with_count.quantity }}</td>
        <td><img class="icon" src='item_{{ item_with_count.name }}.png'></td>
        <td>{{ item_with_count.localized_title }}</td>
    </tr>
</a>
{% endmacro %}

{% block title %}Recipe: {{ recipe.localized_title }}{% endblock %}
{% block header %}
<img src='recipe_{{ recipe.name }}.png'>
<div class="description">
    {{ recipe.description | bbcode }}
</div>
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: space-between">
    <div>
        <h2>Inputs</h2>
        <table>
            {% for ingredient in recipe.ingredients %}
            {{ render_item_with_count(ingredient) }}
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>Outputs:</h2>
        <table>
            {% for product in recipe.products %}
            {{ render_item_with_count(product) }}
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>Crafted in:</h2>
        {% for item, time in recipe.crafted_in %}
        <a class='item' href="item_{{ item.name }}.html">
            <img src='item_{{ item.name }}.png'>
            {{ item.localized_title }} ({{ time | round(2) }}s)
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
